version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: humancare
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  server:
    build: ./server
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: example
      DB_NAME: humancare
      DB_PORT: 5432
      PORT: 4000
    ports:
      - "4000:4000"
    depends_on:
      - db

volumes:
  db_data:
